.App {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

table td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

table th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
}

table thead {
    background-color: darkseagreen;
}

table tbody {
    background-color: lightcyan;
}